{% extends "base.twig" %}

{% block content %}

    <article class="page" id="page-search-results">
        <section class="page__header">
            <div class="container">
                <h1 class="page__title">Results for "{{ search_query }}"</h1>
            </div>
        </section>

        <section class="page__content">
            <div class="container">
                {% if search_results %}
                    <ul class="post-listing">
                        {% for sr in search_results %}
                            <li class="search-result">
                                <div class="search-result__type">{{ sr.type }}</div>
                                <h2><a href="{{ sr.link }}" class="title-link">{{ sr.title }}</a></h2>
                                <div class="search-result__summary">{{ sr.summary|truncate(50) }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2>There are no results for "{{ search_query }}".</h2>
                {% endif %}
            </div>
        </section>
    </article>

{% endblock %}
